body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --cor-primaria: #40ffd1;
  --cor-secundaria: #343a40;
  --cor-terciaria: #ced4da;

  --fonte-primaria: "Jura", sans-serif;
  --fonte-secundaria: "Amatic SC", sans-serif;
}

body {
  background-image: url(img/cypher_silhouette___wallpaper_4k_by_elvenv_dfb38s3.png);
  color: #fff;
  background-size: cover; /* Ajusta a imagem para cobrir todo o fundo da tela */
  height: 100vh; /* Define a altura da tela como 100% da altura da janela */
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container__botao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 166px;
  margin-bottom: 68px;
  width: 50%;
}

.container__botao h1 {
  color: var(--cor-primaria);
}

.container__botao p {
  /* font-family: ; */
  margin-left: 12px;
}

.container__botao button {
  border: none;
  padding: 20px 80px;
  font-family: 16px;
  border-radius: 24px;
}

.container__botao button:first-of-type {
  color: var(--cor-secundaria);
  background-color: var(--cor-terciaria);
  /* font-family: ; */

  margin-right: 24px;
}

.container__botao button:last-child {
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  /* font-family: ; */
}

.container__mensagem {
  background-color: var(--cor-terciaria);
  height: 40%;
}
