body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --cor-primaria: #40ffd1;
  --cor-secundaria: #343a40;
  --cor-terciaria: #ced4da;

  --fonte-primaria: "Audiowide", sans-serif;
  --fonte-secundaria: "Inika", serif;
}

body {
  background-image: url(img/cypher_silhouette___wallpaper_4k_by_elvenv_dfb38s3.png);
  color: #fff;
  background-size: cover; /* Ajusta a imagem para cobrir todo o fundo da tela */
  height: 100vh; /* Define a altura da tela como 100% da altura da janela */
  
  font-family: var(--fonte-secundaria);
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 40px;
}

.container__botao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 120px;
  margin-bottom: 80px;
  width: 50%;
}

.container__botao textarea {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-primaria);

  
  width: 90%;
  height: 400px;
  padding: 12px 20px;
  resize: none;
  box-sizing: border-box;
 

  font-size: 32px;
  border-radius: 8px;



}

.container__botao p {
  font-family: var(--fonte-secundaria);

  font-size: 12px;
  margin-left: 12px;
}

.container__botao button {
  border: none;
  font-family: var(--fonte-primaria);

  font-size: 16px;
  padding: 20px 80px;
  border-radius: 24px;
}

.container__botao button:first-of-type {
  color: var(--cor-secundaria);
  background-color: var(--cor-terciaria);
  /* font-family: ; */

  margin-right: 24px;
}

.container__botao button:last-child {
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  /* font-family: ; */
}

.container__mensagem {
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);

  display: flex;
  align-items: center;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 32px;
}

.container__mensagem img {
  margin-bottom: 20px;
}

.container__mensagem h2 {
  font-family: var(--fonte-primaria);
  font-weight: 400;

  margin-bottom: 4px;
}
